.card-container {
  background: linear-gradient(135deg, #3a7bd5bd, #6d5b98bd);
  row-gap: 3.5rem;
  border-radius: 24px;
  padding: 24px 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  grid-area: game-time;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  height: auto;
  min-height: 100%;
}

.card-title {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 8px;
  position: relative;
  z-index: 2;
}

.time-text {
  font-size: 4rem;
  font-weight: 400;
  color: white;
  margin-top: 16px;
  position: relative;
  z-index: 2;
}

.icon-background {
  position: absolute;
  right: -40px;
  bottom: -150px;
  font-size: 280px;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}