.sticker-card-container {
  background: linear-gradient(145deg, #3a7bd5bd, #6d5b98bd);
  border-radius: 24px;
  padding: 16px 16px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-area: stickers;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.sticker-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.filter-dropdown {
  display: flex;
  align-items: center;
  background-color: rgba(30, 30, 63, 0.8);
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter-dropdown:hover {
  background-color: rgba(30, 30, 63, 1);
}

.dropdown-text {
  color: white;
  font-size: 14px;
  margin-right: 8px;
}

.stickers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  row-gap: 8.1rem;
  background: rgba(30, 30, 63, 0.5);
  padding: 16px;
  border-radius: 16px;
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .stickers-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .stickers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sticker-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s ease, filter 0.3s ease, transform 0.2s ease; /* Añade transiciones */
}

.sticker-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sticker-item.locked .sticker-image {
  opacity: 0.4; /* Reduce la opacidad */
  filter: grayscale(90%); /* Aplica escala de grises */
  cursor: default; /* Cambia el cursor para indicar que no es interactivo */
}

.sticker-item.locked {
   pointer-events: none; /* Opcional: deshabilita eventos de puntero */
}

.sticker-image {
  width: 70%;
  height: 70%;
  object-fit: contain;
  display: block;
  width: 100%;
  height: auto;
}

/* Add custom scrollbar styling */
.stickers-grid::-webkit-scrollbar {
  width: 8px;
}

.stickers-grid::-webkit-scrollbar-track {
  background: rgba(30, 30, 63, 0.3);
  border-radius: 10px;
}

.stickers-grid::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.stickers-grid::-webkit-scrollbar-thumb:hover {
  background: rgba(111, 66, 193, 0.7);
}